
.artistmorat{
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
    justify-content: center;
    color: white;
    font-size: 140%;
    margin-top: 1%;
}


.top5canciones{
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
    justify-content: center;
    color: rgb(7, 6, 6);
    font-size: 200%;
} 

.imgmorat{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:center;
    width: 65%; 
 
}

.perfilmorat{
    width: 100%;
    height: 100%; 
    margin-left: 55%;
    margin-top: 5%;
}

.top{
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     box-sizing: border-box;
     justify-content: center;
     flex-wrap: nowrap;
     margin-left: 3%;
     margin-right: 3%;    
}

h2{
     text-align: center;
}

.artissongs{
     width: 13%;
}
 
.top5{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
} 

.divtop5{
    width: 25%;
    height: 30%;
    margin: 1%;
    padding: 1%; 
    text-align: center;
    font-size: 110%;
    background-color: rgba(143, 9, 9, 0.495);
}

 @media(max-width:420px){
   
    .artissongs{
        width: 60%;
        margin-bottom: 3%;
    
    }
    h2{
        font-size: 85%;
        text-align: center;
    }
    .artistmorat{
        display: flex;
        box-sizing: border-box;
        flex-wrap: nowrap;
        justify-content: center;
        color: black;
        font-size: 100%;
        margin-top: 3%;
    }
    
    .top5canciones{
        display: flex;
        box-sizing: border-box;
        flex-wrap: nowrap;
        justify-content: center;
        color: white;
        font-size: 130%;
        margin-top: 3%;
    }
    .imgmorat{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content:center;
        width: 85%; 
        margin-top: 2%;
    
    }

    .perfilmorat{
        width: 100%;
        height: 100%; 
        margin-left: 18%; 
 
    }

    .top5{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        box-sizing: border-box;
        justify-content: center;
        width: 100%;
    } 
    
    .divtop5{
        width: 50%;
        height: 100%;
        margin: 1%;
        padding: 1%; 
        text-align: center;
        font-size: 90%;
        background-color: rgba(143, 9, 9, 0.495);
    }
 }
