section{
    list-style: none;
    background-color: rgba(11, 5, 5, 0.646);
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Arvo', serif;
    text-decoration: none;
}
  
header{
    display: flex;
    background-color:rgba(29, 25, 34, 0.221);
    flex-direction: row;
    justify-content: space-around; 
    list-style: none;
    text-decoration: none;
    align-items: center; 
}

.headerlist{
  display: flex;
  width: 45%;
  justify-content: space-around;
}
.list{
    color: black;
    font-size: 120%;
}
.logo{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2%;
    height: 10%;
    width: 15%;
    border-radius: 80%;
} 
.buttonheader{
    height: 10%;
    width: 26%;
} 
footer{
    background-color: rgba(0, 0, 0, 0.838);
    color: cornsilk;
    
}
.footerdiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 1%;
    padding: 2%;
}

a{
    color:white;
    text-decoration: none;
}

h2{
    color: white;
}

.flame{
    color: red;
    font-size: 230%;
}


@media (max-width:420px){

 header{
        display: flex;
        background-color:rgba(29, 25, 34, 0.221);
        flex-direction: column;
       justify-content: space-around;
        list-style: none;
        text-decoration: none;
       align-items: center;
       margin-right: 1%;
 }
 .logo{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: nowrap;
    width: 25%;
    border-radius: 80%;
    margin-top: 1%;
 }
 .flame{
    color: red;
    font-size: 140%;
    
 }

 .headerlist{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    align-items: center;
 }
    
 .list{
    color: black;
    font-size: 98%;
 }
 form{
     margin-bottom: 2%;
     margin-top: 2%;
 }
}