 .songs,.albums,.artists{
    display: flex;
     justify-content: space-between;
     flex-direction: row;
     box-sizing: border-box;
     justify-content: center;
     flex-wrap: wrap;
 }
 .peaches,.devil,.morat,.alaire{
     width: 95%;
 }

 .homesongs,.homealbums,.homeartist,.trackpeaches,.trackalaire{
     width: 18%;
 }

.titles{
     margin: 2%;
     color: black;
     padding: 1%;

 }

 @media(max-width: 420px){
 .songs,.albums,.artists{
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     box-sizing: border-box;
     justify-content: center;
     flex-wrap: wrap;
     margin-right: 5%;
     justify-items: center;
   
 }
   
 .peaches,.devil,.morat,.alaire{
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     width: 85%;
     height: auto;
 }

 .homesongs,.homealbums,.homeartist,.trackpeaches{
     width: 40%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     margin-left: 5%;
     margin-bottom: 2%;
     margin-top: 2%;
     align-items: center ;
 }

 a,.datos{
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     width: auto;
     height: auto;
     text-align: center;
     justify-content: space-around;

 }

 .titles {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     width: 3%;
     height: 3%;
    }
}