 .songs,.albums,.artists{
    display: flex;
     justify-content: space-between;
     flex-direction: row;
     box-sizing: border-box;
     justify-content: center;
     flex-wrap: wrap;
 }
 .peaches,.devil,.morat{
     width: 95%;
 }

 .homesongs,.homealbums,.homeartist{
     width: 18%;
 }

.titles{
     margin: 2%;
     color: black;
     padding: 1%;

 }

 @media(max-width: 420px){
 .songs,.albums,.artists{
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     box-sizing: border-box;
     justify-content: center;
     flex-wrap: wrap;
   
 }
   /*  div{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 3%;

    } */
 .peaches,.devil,.morat{
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     width: 55%;
     height: auto;
     border-radius: 50%;
     /* justify-content: space-around; */
 }

 .homesongs,.homealbums,.homeartist{
     width: 40%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
  /*    margin: 5%; */
    margin-left: 4%;
    margin-bottom: 2%;
    margin-top: 2%;
 }

 a{
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     width: auto;
     height: auto;
     
     justify-content: center;
     justify-content: space-around;
   /*   align-items: center;
     align-self: center; */
     /* text-align: center; */
     /* margin-left: 2%;
     margin-right: 5%; */
 }

 .titles {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     width: 3%;
     height: 3%;
    }
}