.dancing{
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 180%;
    padding-top: 3%;
}

.albumpic{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:center;
    width: 66%;
   
}
.demialbum{
    width: 50%;
    height: 100%; 
  margin-left: 50%;
}


.deminame{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 3%;
    color: white;
    font-size: 130%;
}
.canciones{
    display: flex;
    box-sizing: border-box;
    justify-content: left;
    color: black;
    width: 30%;
    margin-right: 50%;
    margin-left: 1%;
    text-decoration: underline;
    font-size: 130%;
 }
 
 .canciongrande{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    width: 100%;
 }
 .seccion1,.seccion2{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    width: 100%;
 }
 
.anyone{
    display: flex;
    width: 40%;
    border-radius: 30%;
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 3%;
 } 

 .dancingsongs{
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     width: 85%;

}
.songtext{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: black;
    font-size: 120%;
    align-items: center;
}
@media(max-width:420px){

 .albumpic{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:center;
    width: 100%;
 }
 
 .demialbum{
    width: 70%;
    margin-left: 0%;
 }
 .deminame{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: nowrap;
    margin-right: 3%;
    color: white;
    font-size: 100%;
 }
 .anyone{
        display: flex;
        width: 20%;
        border-radius: 30%;
        margin-right: 4%;
        margin-left: 4%;
        margin-top: 2%;
        margin-bottom: 3%;
 } 
 .canciongrande{
    display: none;
    box-sizing: none;
    flex-direction: none;
    width: 0;
 }
 .seccion1,.seccion2{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
 }

 .canciones{
        display: flex;
        box-sizing: border-box;
        justify-content: left;
        color: black;
        width: 30%;
        margin-right: 50%;
        margin-left: 1%;
        text-decoration: underline;
        font-size: 130%;
        margin-top: 13%;
     }
}