
.albumpic{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:center;
    width: 64%;
   
}
.demialbum{
    width: 50%;
    height: 100%; 
  margin-left: 50%;
}

div{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 30px;
    padding: 10px;
    border: 10px;
    text-decoration: none;
    color: white;
    justify-content: center;
} 
.deminame{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 3%;
    margin-left: 8%; 
}
.canciones{
    display: flex;
    box-sizing: border-box;
    width: 30%;
    margin-right: 30%;
    margin-left: 37%;
   /*  margin-top: 5%; */
    align-items: center;
    align-content: center;
    color: black;
    /* border-style: double; */
    font-size: 130%;
    text-decoration: underline;
}
.anyone{
   display: flex;
    width: 9%;
    height: 9%;
    border-radius: 30%;
    margin-right: 4%;
    margin-left: 4%;
}

 .dancingsongs{
     width: 85%;
}
.songtext{
    color: black;
    font-size: 120%;
}
