
.artistmorat{
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
    justify-content: center;
    color: white;
    font-size: 140%;
}

.top5canciones{
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
    justify-content: center;
    color: rgb(7, 6, 6);
    font-size: 200%;
}

.imgmorat{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:center;
    width: 65%; 
 
}

.perfilmorat{
    width: 100%;
    height: 100%; 
  margin-left: 50%;
}

.top{
    display: flex;
     justify-content: space-between;
     flex-direction: row;
     box-sizing: border-box;
     justify-content: center;
     flex-wrap: nowrap;
     margin-left: 3%;
     margin-right: 3%;
  
     
 }
 .morat5{
     width: 90%;
     margin-right: 4%;
     margin-left: 4%;
     padding: 2%;
     border-radius: 50%;  

 }

 .artissongs{
     width: 13%;
 
 }