h1{
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

/* .generos{
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     box-sizing: border-box;
     justify-content: center;
     width: 100%;
     
 } */

 .rockgenero{
     width: 18%;
 }
 .rock{
     width: 95%;
 }

 