h1{
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 180%;
    padding-top: 3%;
}
.generos1,.generos2{
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     box-sizing: border-box;
     justify-content: center;
     width: 100%;  
 } 

h2{
    text-align: center;
}
 .rockgenero1,.rockgenero2{
     width: 18%;
     margin-right: 2%;
     margin-left: 2%;
     margin-bottom: 2%;
 }
 .rock{
     width: 95%;
     border-radius: 50%;
 }

@media(max-width:420px){

 .generalgeneros{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
 }
 .rock{
     width: 100%;

 }
 .generos1,.generos2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;  
    align-items: center;
 } 
 .rockgenero1,.rockgenero2{
    width: 80%;
    margin-right:2% ;
    margin-left: 2%;
    margin-bottom: 2%;
   }

 h2{
    font-size: 100%;
    }
}