h1{
    color: black;
    display: flex;
    justify-content: center;
  
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 180%;
    padding-top: 3%;
}


.generos1,.generos2{
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     box-sizing: border-box;
     justify-content: center;
     width: 100%;
     
 } 

 .rockgenero1,.rockgenero2{
     width: 18%;
 }
 .rock{
     width: 95%;
 }

 