

.imgsong{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:center;
    width: 67%;
   
}
.justinsong{
    width: 100%;
  margin-left: 50%;
  margin-top: 0 auto;
}

 div{
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    color: white;
    justify-content: center; 
} 

.icono{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-right:2% ;
  
} 
.iconito{
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    margin: 1%;
    padding: 1%;
}


.cancion{
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 180%;
    padding-top: 1%;
}


.justindata{
    display: flex;
    flex-direction: column;
}

.peaches{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 3%;
    color:black;
    font-size: 150%;
}


.peaches1{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 3%;
    color: black;
    font-size: 90%;

}

.peaches2{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 3%;
    color:black;
    font-size: 80%;
}


.addplaylist{
    color: black;
    margin-bottom: 1%;
    margin-right: 2%;
    text-decoration: none;
    color: black
}

.agregar{
    color: black;
}
.general{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-style:solid;
    border-width: 5px;
    border-color:black;
    width: 35%;
    justify-content: center;
    margin-left: 32%;
    background-color: rgba(255, 55, 20, 0.55);
 
}